<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Dueños</th>
      </tr>
    </thead>
    <tbody>
      @for (file of filesShow; track file.id; let indice = $index) {
        <tr>
          <th scope="row"><input type="checkbox" name="check"></th>  
          @switch (file.type) {
            @case (fileType.FOLDER) {
              @if(file.name.length>10){
                <td data-bs-toggle="tooltip" data-bs-placement="top" data-title={{file.name}}><i class="bi bi-folder"></i>{{file.name.substring(0,10)}}...</td>
              }@else{
                <td><i class="bi bi-folder"></i>{{file.name}}</td>
              }
            }
            @case (fileType.FILE) {
              @if(file.name.length>10){
                <td data-bs-toggle="tooltip" data-bs-placement="top" data-title={{file.name}}><i class="bi bi-file-earmark"></i>{{file.name.substring(0,10)}}...</td>
              }@else{
                <td><i class="bi bi-file-earmark"></i>{{file.name}}</td>
              }
            }
            @default {
              <td>{{file.name}}</td>
            }
          }
          <td>{{ file.creation | date:'dd-MM-yyyy'}}</td>
          <td>@for (owner of file.owners; track owner; let indice = $index) {
            <img class="img" src="{{owner.avatarUrl}}" alt="{{owner.name}}">  
          }</td>
        </tr>
      }
    </tbody>
</table>